*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    margin: 0 auto;
   
}
.A{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.leftside{
    display:flex;
    align-items: center;
}
.fa-solid.fa-utensils{
    font-size: 40px;

}
.icon{
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
}
.cho{
    width: 100%;
    display: block;
    margin: 10px auto;

}
h2{
    margin: 30px;
}
dl{
    margin-left: 30px;
}
dd{
    opacity: .5;
}
.container3{
    display: grid;
    margin: 5px 0px;
    grid-template-columns:auto 1fr;
    padding-inline: 5px;
    background-image: url('./14.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: auto;

}
.container3 div{
    margin-right: 5px;
}
.no{
    width: 60px;
    border-radius: 50%;
}
button{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    background-color: bisque;
    
}
.text{
/* margin-top: 50px; */
text-align: center;
}
.text > *{
    margin: 5px;
    margin-top: 25px;
}
.title{
    margin-left: 4px;

}
.container4{
    margin-top: 20px;
    display: flex;
    align-items: center;
}